@import "tailwindcss";

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/PretendardVariable.woff2") format("woff2");
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Pretendard, Arial, Helvetica, sans-serif;
}

#native-cta {
    font-size: 14px;
    padding: 10px 20px;
}
